<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/encrypt", method="POST">
        <input type="text" value="I am batman" name = "message">
        <input type="submit" value="Submit">
    </form>
    <form action="/decrypt", method="POST">
        <input type="text" value="encrypted_message" name = "message">
        <input type="submit" value="Submit">
    </form>
</body>
</html>